<div class="banner">
    <div class="banner-content">
      <h1 class="titulo">DieGG's Store</h1>
      <p class="descripcion">Todo lo que necesitas aqui...</p>
    </div>
</div>

<div class="contenedor-carrito">
    <div class="titulo-carrito">
      <h2>Carrito de: {{ cliente.nombre_cliente }}</h2>
    </div>
  
    <table>
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Precio</th>
          <th>Cantidad</th>
          <th>Total</th>
          <th>Accion</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of items">
          <td>{{ item.producto.nombre_producto }}</td>
          <td>{{ item.producto.precio_producto }}</td>
          <td>{{ item.cantidad_item }}</td>
          <td>{{ item.cantidad_item * item.producto.precio_producto }}</td>
          <td>
            <button class="btnEliminarItem" (click)="eliminarItem(item)">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  
    <button (click)="realizarCompra()">Realizar compra</button>
</div>