.contenedor-principal{
    width: auto;
  }
  
  .banner {
    position: relative;
    text-align: center;
    background: url('/assets/img/banner.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #fff;
    height: 200px; /* Ajusta la altura según tus necesidades */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra verticalmente el contenido */
    padding: 0 20px; /* Añade un espacio a los lados para evitar bordes pegados al texto */
    padding-left: 130px;
    padding-top: 30px;
  }
  
  .banner-content {
    text-align: left;
  }
  
  .banner-content h1 {
    font-size: 40px;
    margin-bottom: 10px;
  }
  
  .banner-content p {
    font-size: 20px;
    margin-bottom: 20px;
  }




/* ESTILOS DEL FORMILARIO */
  .contenedor-registro{
    display: grid;
    grid-template-columns: 60% 40%;
  }

  .contenedor-registro {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contenedor-formulario {
    flex: 1;
    padding: 20px; /* Añadir padding al formulario */
}

.contenedor-formulario h2 {
    margin-bottom: 20px;
}

.campo {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] { /* Estilos específicos para campos de contraseña */
    width: calc(100% - 20px); /* Ajustar ancho del input para considerar el padding */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.contenedor-logo {
    flex: 1;
    text-align: center;
}

.contenedor-logo img {
    width: 100%;
    max-width: 200px;
    height: auto;
    margin-bottom: 10px;
}

.contenedor-logo p {
    margin: 0; /* Eliminar margen del párrafo */
}