.contenedor-principal{
    width: auto;
  }
  
  .banner {
    position: relative;
    text-align: center;
    background: url('/assets/img/banner.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #fff;
    height: 200px; /* Ajusta la altura según tus necesidades */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra verticalmente el contenido */
    padding: 0 20px; /* Añade un espacio a los lados para evitar bordes pegados al texto */
    padding-left: 130px;
    padding-top: 30px;
  }
  
  .banner-content {
    text-align: left;
  }
  
  .banner-content h1 {
    font-size: 40px;
    margin-bottom: 10px;
  }
  
  .banner-content p {
    font-size: 20px;
    margin-bottom: 20px;
  }



  /* Estilos para los productos */
  .contenedor-principal{
    display: grid;
    grid-template-columns: 100%;
    padding: 40px;
  }

  .contenedor-productos{
    display: grid;
    grid-template-columns: 30% 70%;
    padding-top: 10px;
  }

  .productos{
    display: grid;
    grid-template-columns: 30% 30% 30%;
  }

  /* Esttilos de CARD DEL PRODUCTO */
  .cardProducto {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    width: 300px; /* Puedes ajustar el ancho según tu diseño */
    text-align: center; /* Centra el contenido dentro de la tarjeta */
}

.cardProducto img {
    width: 70%; /* Ajusta el tamaño de la imagen según tu preferencia */
    height: auto; /* La altura se ajustará automáticamente para mantener la proporción */
    border-radius: 8px; /* Borde redondeado para la imagen */
    margin: 0 auto; /* Centra horizontalmente la imagen dentro de la tarjeta */
    display: block; /* Permite aplicar márgenes automáticos horizontalmente */
    margin-bottom: 10px; /* Espacio entre la imagen y el contenido */
}

.producto-info {
    text-align: center; /* Alinea el contenido al centro */
}

.precio {
    font-weight: bold; /* Hace que el precio sea más destacado */
    margin-bottom: 10px; /* Espacio entre el precio y los botones */
}

.btn-add-carrito,
.btn-ver-producto {
    display: inline-block; /* Para que los botones estén en línea */
    padding: 8px 16px;
    margin: 5px;
    border: none;
    border-radius: 4px;
    background-color: #007bff; /* Color de fondo del botón */
    color: white; /* Color del texto del botón */
    cursor: pointer;
}

.btn-add-carrito:hover,
.btn-ver-producto:hover {
    background-color: #0056b3; /* Cambia el color de fondo al pasar el ratón sobre el botón */
}

.cardProducto input[type="number"] {
  width: 30px; /* Ancho del campo de entrada */
  padding: 8px; /* Espaciado interno del campo de entrada */
  border: 1px solid #ccc; /* Borde del campo de entrada */
  border-radius: 4px; /* Borde redondeado del campo de entrada */
  margin-bottom: 10px; /* Espacio entre el campo de entrada y los botones */
}

.cardProducto input[type="number"]:focus {
  outline: none; /* Elimina el contorno al enfocar el campo de entrada */
  border-color: #007bff; /* Cambia el color del borde al enfocar el campo de entrada */
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Agrega una sombra al enfocar el campo de entrada */
}

/* ESTILOS PARA LOS BOTONES DE ARRIBA */
.contenedor-generales {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columnas de igual ancho */
    gap: 10px; /* Espacio entre los botones */
    justify-content: center; /* Centra los botones horizontalmente */
    margin: 20px;
}

.boton {
    padding: 10px 20px;
    border: 2px solid #ccc; /* Borde gris */
    border-radius: 20px; /* Borde redondeado */
    background-color: white; /* Color de fondo blanco */
    color: #555; /* Color del texto gris */
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; /* Transición suave */
}

.boton:hover {
    background-color: #ccc; /* Cambia el color de fondo al pasar el ratón sobre el botón */
    color: white; /* Cambia el color del texto a blanco */
}



/* ESTILOS PARA EL MODAL DE CRACION DEL PRODUCTO */
.modalPN {
    display: block; /* Ocultar el modal por defecto */
    position: fixed; /* Fijar la posición del modal */
    z-index: 1; /* Por encima de otros elementos */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5); /* Fondo semitransparente */
    overflow: auto; /* Habilitar el desplazamiento si el contenido es demasiado largo */
}

.modal-contentPN {
    background-color: #fefefe;
    margin: 10% auto; /* Centra vertical y horizontalmente */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Ancho del modal */
}

.closePN {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.closePN:hover,
.closePN:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-contentPN form {
    display: grid;
    gap: 10px;
  }
  
  .modal-contentPN label {
    font-weight: bold;
  }
  
  .modal-contentPN input[type="text"],
  .modal-contentPN input[type="number"],
  .modal-contentPN select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .modal-contentPN input[type="file"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #f9f9f9;
  }
  
  .modal-contentPN button {
    background-color: #4caf50; /* Color de fondo del botón */
    color: white; /* Color del texto del botón */
    padding: 10px 20px; /* Espaciado interno del botón */
    border: none; /* Quita el borde del botón */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar el ratón */
  }
  
  .modal-contentPN button:hover {
    background-color: #45a049; /* Cambia el color de fondo al pasar el ratón por encima */
  }




  /*BUSCADOR ESTILOS*/
  .buscador-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px; /* Espacio entre el buscador y el siguiente contenido */
  }
  
  .buscador-input {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px; /* Espacio entre el input y el botón */
    flex-grow: 1; /* Hace que el input ocupe todo el espacio disponible */
  }
  
  .buscador-btn {
    padding: 8px 12px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .buscador-btn:hover {
    background-color: #0056b3; /* Cambia el color de fondo al pasar el ratón sobre el botón */
  }


  /* ESTILOS PARA EL MODAL DE PRODUCTOS ENCONTRADOS*/
  /* Estilos para el modal de búsqueda */
.modal {
  display: none; /* Por defecto el modal está oculto */
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4); /* Fondo oscuro semi-transparente */
}

/* Estilos para mostrar el modal */
.modal.show {
  display: block; /* Mostrar el modal cuando la clase 'show' está presente */
}

/* Estilos para el contenido del modal */
.modal-content {
  background-color: #fefefe; /* Fondo del modal */
  margin: 15% auto; /* Centrar verticalmente y dejar un margen en la parte superior */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Ancho del contenido del modal */
  border-radius: 5px;
}

/* Estilos para el botón de cerrar del modal */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


@media screen and (max-width: 769px){

  .filtros{
    display: none;
  }
  .contenedor-productos{
    display: grid;
    grid-template-columns: 100%;
    padding-top: 10px;
  }

  .productos{
    display: grid;
    grid-template-columns: 100%;
  }


  .buscador-container {
    display: grid;
    align-items: center;
    margin-bottom: 20px; /* Espacio entre el buscador y el siguiente contenido */
  }
  
  .buscador-input {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px; /* Espacio entre el input y el botón */
    flex-grow: 1; /* Hace que el input ocupe todo el espacio disponible */
  }
  
  .buscador-btn {
    padding: 8px 12px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .buscador-btn:hover {
    background-color: #0056b3; /* Cambia el color de fondo al pasar el ratón sobre el botón */
  }


  .banner-content {
    text-align: left;
  }
  
  .banner-content h1 {
    margin-top: 120px;
    font-size: 25px;
    margin-bottom: 10px;
  }
  
  .banner-content p {
    font-size: 12px;
    margin-bottom: 20px;
  }

  .banner {
   
    height: 250px; /* Ajusta la altura según tus necesidades */
    
  }


}
