<header>
  <div class="container" id="navbar">
    <div class="logo">
      <img src="assets/img/logo.png" alt="">
    </div>
    <nav>
      
        <ul class="menu">
          <li *ngFor="let link of pages">
              <a class="opc" href="#" [routerLink]="link.path">{{link.title}}</a>
          </li>
        </ul>
        
      <div class="hamburger-menu" (click)="toggleMenu()">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
      </div>
    </nav>
  </div>
</header>
