<div class="banner">
    <div class="banner-content">
      <h1 class="titulo">DieGG's Store</h1>
      <p class="descripcion">Todo lo que necesitas aqui...</p>
    </div>
</div>


<div class="contenedor-facturas">
    <div class="titulo-facturas">
        <h2>Sus facturas</h2>
    </div>
  
    <table>
        <thead>
            <tr>
                <th>Código</th>
                <th>Numero de factura</th>
                <th>Total</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let factura of facturas">
                <td>{{ factura.codigo_factura }}</td>
                <td>{{ factura.numero_factura }}</td>
                <td>{{ factura.total_factura }}</td>
                <td><button (click)="verFactura(factura.codigo_factura,factura.numero_factura)">Ver</button></td>
            </tr>
        </tbody>
    </table>
</div>


<!-- Nueva sección para mostrar los detalles de la factura -->
<div *ngIf="facturaSeleccionada" class="detalles-factura">
    <div class="encabezado-factura">
        <p><strong>Datos de la factura</strong></p>
        <p><strong>Factura: </strong>{{factura.numero_factura}}</p>
        <p><strong>Cédula: </strong>{{cliente.cedula_cliente}}</p>
        <p><strong>Nombre: </strong>{{cliente.nombre_cliente}}</p>
        <p><strong>Correo: </strong>{{cliente.correo_cliente}}</p>
        <p><strong>Dirección: </strong>{{cliente.direccion_cliente}}</p>
    </div>
    <h3>Detalles de la factura</h3>
    <table class="tabla-detalles">
        <thead>
            <tr>
                <th>Código</th>
                <th>Descripción</th>
                <th>Cantidad</th>
                <th>Precio unitario</th>
                <th>Precio total</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let det of detalles">
                <td>{{ det.codigo_detalle }}</td>
                <td>{{ det.descripcion_detalle }}</td>
                <td>{{det.cantidad_detalle}}</td>
                <td>{{ det.precioUnitario_detalle }}</td>
                <td>{{ det.precioTotal_detalle }}</td>
            </tr>
        </tbody>
    </table>
    <div class="pie-factura">
        <h4><strong>Subtotal:</strong> {{factura.subtotal_factura}}</h4>
        <h4><strong>Total:</strong> {{factura.total_factura}}</h4>
        <button (click)="mostrarModal()">Comprar</button>
    </div>
</div>




<!-- Modal -->
<div *ngIf="modalVisible" id="myModal" class="modal">
    <!-- Contenido del modal -->
    <div class="modal-content">
        <span class="close" (click)="ocultarModal()">&times;</span>
        <h2>Complete la información de pago</h2>
        <form>
            <label for="nombre-tarjeta">Nombre en la Tarjeta:</label>
            <input type="text" id="nombre-tarjeta" name="nombre-tarjeta" required>
            
            <label for="numero-tarjeta">Número de Tarjeta:</label>
            <input type="text" id="numero-tarjeta" name="numero-tarjeta" required>
            
            <label for="cvc">CVC:</label>
            <input type="text" id="cvc" name="cvc" required>

        </form>
        <button  (click)="finalizarCompra()" class="finalizar-btn">Finalizar Compra</button>
    </div>
</div>