
<section class="contenedor-principal">
    <div class="banner">
      <div class="banner-content">
        <p *ngIf="logueado">Un saludo, {{cliente.nombre_cliente}}</p>
        <h1 class="titulo">DieGG's Store</h1>
        <p class="descripcion">Todo lo que necesitas aqui...</p>
        <button class="comprar-btn">Comprar</button>
      </div>
    </div>
  
    <div class="cards-container">
      <!-- Cards superiores -->
      <div class="card">
        <img src="assets/img/tienda.png" alt="Imagen Card 1">
      </div>
      <div class="card">
        <img src="assets/img/regalo.png" alt="Imagen Card 2">
      </div>
      <div class="card">
        <img src="assets/img/contacto.png" alt="Imagen Card 3">
      </div>
    </div>


    <div class="banner-oferta">
        <div>
          <h2>Oferta</h2>
        </div>
        <div class="offer-container">
          <div class="offer-image">
            <div class="contenedor-audifonos">
              <div>
                <img src="assets/img/audi.png" alt="Audi Image">
              </div>
              <div class="contenedor-producto">
                <h1>Audífinos Gamer marca HiperX</h1>
                <h2>$79,99</h2>
                <p>$49,99</p>
              </div>
            </div>
            <div class="offer-details">
                <h1>Descuento</h1>
                <h2>del</h2>
                <p>50%</p>
            </div>
          </div>
        </div>
    </div>



    <div>
      <div class="tarjeta-titulo">
        <h1>Mas vendidos</h1>
      </div>
      <div class="contenedor-tarjetas">
        <div class="producto">
          <img src="assets/img/imagen1.png" alt="Imagen 1">
          <div class="producto-detalle">
            <h2>Título 1</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt.</p>
            <strong><p class="precio">$19.99</p></strong> 
          </div>
        </div>
        <div class="producto">
          <img src="assets/img/imagen1.png" alt="Imagen 1">
          <div class="producto-detalle">
            <h2>Título 1</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt.</p>
            <strong><p class="precio">$19.99</p></strong> 
          </div>
        </div>
        <div class="producto">
          <img src="assets/img/imagen1.png" alt="Imagen 1">
          <div class="producto-detalle">
            <h2>Título 1</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt.</p>
            <strong><p class="precio">$19.99</p></strong> 
          </div>
        </div>
        <div class="producto">
          <img src="assets/img/imagen1.png" alt="Imagen 1">
          <div class="producto-detalle">
            <h2>Título 1</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt.</p>
            <strong><p class="precio">$19.99</p></strong> 
          </div>
        </div>
  
       
        
      </div>
    </div>



    <div class="contenedor-pie">
      <div class="informacion">
        <h2>Informacion</h2>
        <ul>
          <li><a href="https://infodieggostore.com">infodieggostore.com</a></li>
          <li><a href="tel:+59396321198">+593 96321198</a></li>
          <li>Av. de las Americas</li>
          <li>Cuenca - Ecuador</li>
        </ul>
      </div>
      <div class="enlaces">
        <h2>Enlaces útiles</h2>
        <ul>
          <li><a href="/">Inicio</a></li>
          <li><a href="/tienda">Tienda</a></li>
          <li><a href="/nosotros">Nosotros</a></li>
          <li><a href="/contacto">Contacto</a></li>
        </ul>
      </div>
      <div class="siguenos">
        <h2>Siguenos en:</h2>
        <ul class="lista-brands">
          <i class="fa-brands fa-facebook"><a href="/"> Facebook</a></i><br><hr>
          <i class="fa-brands fa-instagram"><a href="/"> Instagram</a></i><br><hr>
          <i class="fa-brands fa-twitter"><a href="/"> Twitter</a></i><br><hr>
          <i class="fa-brands fa-tiktok"><a href="/"> TikTok</a></i><br>
        </ul>
      </div>
    </div>
</section>