
<div class="banner">
    <div class="banner-content">
      <h1 class="titulo">DieGG's Store</h1>
      <p class="descripcion">Todo lo que necesitas aqui...</p>
    </div>
</div>

<div class="contenedor-registro">
    <div class="contenedor-formulario">
        <h2>Registro</h2>
        <form>
            <div class="campo">
                <label for="cedula">Cédula:</label>
                <input type="text" id="cedula" name="cedula" [(ngModel)]="cliente.cedula_cliente" required>
            </div>
            <div class="campo">
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" name="nombre" [(ngModel)]="cliente.nombre_cliente" required>
            </div>
            <div class="campo">
                <label for="correo">Correo electrónico:</label>
                <input type="email" id="correo" name="correo"  [(ngModel)]="cliente.correo_cliente" required>
            </div>
            <div class="campo">
                <label for="clave">Contraseña:</label>
                <input type="password" id="clave" name="clave" [(ngModel)]="cliente.clave_cliente" required>
            </div>
            <div class="campo">
                <label for="direccion">Dirección:</label>
                <input type="text" id="direccion" name="direccion" [(ngModel)]="cliente.direccion_cliente"required>
            </div>
        </form>
        <button (click)="guardarCliente()">Crear cuenta</button> o
        <button (click)="vistaSesion()">Iniciar Sesion</button>
    </div>
    <div class="contenedor-logo">
        <img src="ruta/a/la/imagen.jpg" alt="Logo">
        <p>Texto debajo de la imagen.</p>
    </div>

</div>